*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' sans-serif;
}
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container-input{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 10px;
    
    
}
.calculator{
    width: 10%;
    min-width: 600px;
    margin-left: 10px;
    margin-top: 10px;
    /* transform: translate(50%,50%); */
}
.calculator h1{
    font-size: 60px;
    color: #ffff76;
}
.input-box{
    margin:40px 0;
    padding: 35px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 40px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
.input-box input ::-webkit-calendar-picker-indicator{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-position: calc(100%, -10px);
    background-size: 30px;
    cursor: pointer;
}
#result{
    font-size: 20px;
}
#result span{
    color: #ffff76;
 }
 /*
@media screen and (max-width:475px){
    .calculator{
        width: 100%;
        height: 100vh;
    }
} */